<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Survey Form</h1>
    <form action="/result" method="POST">
        Your Names: <input type="text" name="name"/> <br/>
        Dojo location:
        <select name="location" id="">
            <option value="mountain view">Mountain View</option>
            <option value="seatle">Seatle, WA</option>
            <option value="la">Los Angeles</option>
            <option value="sanJose">San Jose</option>
        </select>
        <br/>
        Favorite Language:
        <select name="language" id="">
            <option value="js">JavaScript</option>
            <option value="python">Python</option>
            <option value="node">Node</option>
            <option value="express">Express</option>
        </select>
        Comment (optional): <textarea name="comment" cols="30" rows="10"></textarea><br/>
        <input type="submit" value="Sumbit"/>
    </form>

</body>
</html>
