<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Submitted Information</h1>
    <ul>
        <li>Name: <strong><%= info.name %></strong></li>
        <li>Dojo Location: <strong><%= info.location %></strong></li>
        <li>Favorite Language: <strong><%= info.language %></strong></li>
        <li>Comment: <strong><%= info.comment %></strong></li>
    </ul>
    <a href="/">Go Back</a>
</body>
</html>