<h1>Initial Power Level</h1>

<form (submit)="lalala()">
  <input class="selectBar"type="number" name="powerLevel" min="1" max="100" [(ngModel)]="powerLevel" placeholder="1-100">
  <input type="submit" value="Calculate Powers">
</form>

<img src="../assets/image.jpg">
<br>
<div class="">
  <app-human [power] = "power" class="info"></app-human>
  <app-saiyan [power] = "power" class="info"></app-saiyan>
  <app-supersaiyan [power] = "power" class="info"></app-supersaiyan>
  <app-supersaiyantwo [power] = "power" class="info"></app-supersaiyantwo>
  <app-supersaiyanfour [power] = "power" class="info"></app-supersaiyanfour>
  <app-supersaiyanthree [power] = "power" class="info"></app-supersaiyanthree>
</div>
