  <h1>Dojo Mail</h1>
  <table>
    <tr>
      <th>Email</th>
      <th>Importance</th>
      <th>Subject</th>
      <th>Content</th>
    </tr>

    <tr>
      <td>{{emails[0].email | lowercase}}</td>
      <td *ngIf="emails[0].importance">High</td>
      <td>{{emails[0].subject}}</td>
      <td>{{emails[0].content}}</td>
    </tr>

    <tr>
      <td>{{emails[1].email | lowercase}}</td>
      <td *ngIf="emails[1].importance">High</td>
      <td>{{emails[1].subject}}</td>
      <td>{{emails[1].content}}</td>
    </tr>

      <tr>
      <td>{{emails[2].email | lowercase}}</td>
      <td *ngIf="!emails[2].importance">Low</td>
      <td>{{emails[2].subject}}</td>
      <td>{{emails[2].content}}</td>
      </tr>

      <tr>
      <td>{{emails[3].email | lowercase}}</td>
      <td *ngIf="!emails[3].importance">Low</td>
      <td>{{emails[3].subject}}</td>
      <td>{{emails[3].content}}</td>
      </tr>
  </table>
