.nav {
    width: 220px;
    height: 420px;
    margin: 20px;
    background-color: royalblue;
    display: inline-block;
    vertical-align: top;

}
button {
    display: block;
    padding: 4px;
    margin: 15px auto;
    width: 60px;
}
